/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.counter {
	  border-bottom: 1px dotted #fff;
	  text-align: center;
	  width: 100%;
	  margin-bottom: 5px;
  }

  .timer {
   margin-top: 5px;
   float: left;
}




}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.modal_container button span {
		padding: 1% 12%;
		font-size: 20px;
	}

	.modal_container h1 {
		background: rgb(92,108,141);
		padding: 7px;
		margin: 33px 10px;
		border-radius: 4px;
		text-align: center;
		font-size: 21px;
		letter-spacing: 4px;
	}

	.modal_container .exit {
		padding: 0px 10px 5px 5px
	}

	.authBtn {
		margin-top: 24px;
	}

	.user_data_container {
		margin-top: -18px;
	}

.user_data_container_login {
    position: absolute;
    top: 70px;
}

}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

.user_data_container_login {
    position: absolute;
    top: 55px;
}
	#exel table th, td {
		padding: 2%;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {


}