


body {
	font: 1em 'PT Sans', Arial, Helvetica< sans-serif;
	background: #eee;
	color: #333;
}


/* CSS Grid
============================*/

.container {
	width: 940px;
	margin: 0 auto;
}
/* 940 - 20*11
720px ширина всех колонок 
*/

	.row {
		margin-bottom: 20px;
	}

	.row:after {
		display: block;
		content: '';
		height: 0;
		visibility: hidden;
		clear: both;
	}


[class*='span'] {
	float: left;
	display:inline;
	margin-right: 20px ;
}

[class*='span']:last-child {
margin-right: 0;
float: right;
}



.span1 { width: 60px; }
.span2 { width: 140px; }
.span3 { width: 220px; }
.span4 { width: 300px; }
.span5 { width: 380px; }
.span6 { width: 460px; }
.span7 { width: 540px; }
.span8 { width: 620px; }
.span9 { width: 700px; }
.span10 { width: 780px; }
.span11 { width: 860px; }
.span12 { width: 940px; }


.offset1 { margin-left: 60px; }
.offset2 { margin-left: 140px; }
.offset3 { margin-left: 220px; }
.offset4 { margin-left: 300px; }
.offset5 { margin-left: 380px; }
.offset6 { margin-left: 460px; }
.offset7 { margin-left: 540px; }
.offset8 { margin-left: 620px; }
.offset9 { margin-left: 700px; }
.offset10 { margin-left: 780px; }
.offset11 { margin-left: 860px; }
.offset12 { margin-left: 940px; }


/********Main********/
.header {
	margin-top:20px;
}

.header h1 {
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

.search {
	 margin-top: 40px;
}

.search input {
	width: 100%;
	height: 30px;
}

.slider {
	height: 250px;
	background: url(img/houses.jpg);
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.thumb img {
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
}


/********Main menu
==========================********/


.sidebar {
	margin-top: 30px;
	display: inline-block;
}

.nav {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
	list-style: none;
	width: 50px;
	opacity: .7;
}

.nav:hover {
		opacity: 1;
}
.nav li {
width: 50px;
height: 40px;
overflow: hidden;
}

.nav li:hover {
	width: 200px;
	height: 170px;

}

 .nav li a {
	text-decoration: none;
	color: #fff;
	background: #bbb;
	display: block; 
	width: 150px;
	height: 40px;
	text-align: left;
	line-height: 40px;
	border-bottom: 1px dotted #fff;
	padding-left: 20px;
	cursor: pointer;
}

.nav li a:hover {
	background: #76EAC8;
	border-bottom: 1px solid white;
}

.nav li a:first-child {

	font-size: 1.1em;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-indent: 30px
}
.nav li a:first-child::before {
	content:'';
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 5px;
	left:5px;
}

.main-menu a:first-child::before {
	background: url(img/main-manu.png) center no-repeat;
}
.settings a:first-child::before {
	background: url(img/settings.png) center no-repeat;
}
.link a:first-child::before {
	background: url(img/link.png) center no-repeat;
}
.search-menu a:first-child::before {
	background: url(img/search.png) center no-repeat;
}

/********Content
===============================********/

.content {
	padding: 0 20px;
	margin-bottom: 80px;
}

.footer {
	color: #444;
	text-align: center;
	border-top: 1px  dashed #888;
	padding: 40px 0;
}

/* Responsive CSS Grid
========================== */

@media only screen and (max-width: 939px) {
	.container {
		width: 300px;
	}

.span1,
.span2, 
.span3, 
.span4, 
.span5, 
.span6, 
.span7, 
.span8, 
.span9, 
.span10, 
.span11, 
.span12 { width: 300px; }

.sidebar, .thumb {
	display: none;
}

.serch {
	width: 100px;
}
.slider{
height: 150px;
background: url(img/houses340.jpg) no-repeat;
}

.header h1 {
	position: relative;
	font-weight: normal;
}

.header h1:after {
	font-style: italic;
	font-size: .6em;
	content: '...Mobile version...';
	position: absolute;
	right: 20px;
	bottom: -25px;

}

}